<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<form method="post" action="/add_part" enctype="multipart/form-data">
    <input name="part_name" type="text" placeholder="부품명">
    <br>
    부품 카테고리
    <select name="part_category">
        <%
        for(var i=0;i<part_data_length;i++){
        %>
        <option value="<%= part_data[i].part_category%>">
            <%= part_data[i].part_category%>
        </option>
        <%
        }
        %>
    </select>
    <br>
    차량명:
    <select name="car_name">
        <%
        for(var i=0;i<car_data_length;i++){
        %>
        <option value="<%= car_data[i].car_name%>">
            <%= car_data[i].car_name%>
        </option>
        <%
        }
        %>
        <option value="all">
            all
        </option>
    </select>
    <br>
    이미지 업로드 <input type="file" name="img"/><br>
    파일 업로드 <input type="file" name="file"/><br>
    <button class="btn btn-primary" type="submit">submit</button>
</form>
<br>
<a href="/add_part">파트 추가</a><br>
<a href="/get_part">파트 받아오기(json)</a><br>
<a href="/manage_part">파트 제거</a><br>
<a href="/add_part_category">파트 카테고리 추가</a><br>
<a href="/get_part_category">파트 카테고리 받기(json)</a><br>
<a href="/reset_part_category">파트 카테고리 리셋</a><br>
<a href="/add_car">차량 추가</a><br>
<a href="/add_const_case_100">시공사례 100개 추가</a><br>
<a href="/add_const_case_1">시공사례 1개 추가</a><br>
<a href="/get_const_case">시공사례 받아오기(json)</a> 시공사례 개수만큼 받아오려면 post로 start와 end로 개수지정<br>
<a href="/const_case_remove">시공사례 초기화</a><br>

</body>
</html>
